body{
    background-color: rgb(26, 201, 224);
}
table tr:hover{
    background-color: aquamarine;
}

/* estilo por etiqueta/ por id es # / por clase es .*/
#nombre{
    border: 1px solid rgba(3, 139, 173, 0.705);
    background-color: rgb(11, 98, 179);
    border-radius: 3px;
}